body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 800px;
  margin: auto;
  background-color: lightslategrey;

  /* background-color: lightgray; */
}

/* @keyframes example {
  from {background-color: lightgray;}
  to {background-color: yellow;}
} */

#player {
  position: absolute;
  /* left: 45%;
  top: 50%; */
}

#enemy {
  position: absolute;
  /* left: 45%;
  top: 50%; */
}

/* .dash-forward {
  animation-name: attackForward;
  animation-duration: 1s;
}

.dash-back {
  animation-name: attackBack;
  animation-duration: 1s;
}

@keyframes attackForward {
  from {
    left: 45%;
  }
  to {
    left: 55%;
  }
}
@keyframes attackBack {
  from {
    left: 55%;
  }
  to {
    left: 45%;
  }
} */

/* .wrapper {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin-top: 10rem;
  margin-left: -10px;
}
.player {
  position: relative;
  transform: scaleX(-1);
}
.player:before {
  content: "";
  display: block;
  padding-top: 100%;
} */

.hide{
  display: none;
}

.canvas{
  /* padding-left: 0;
    padding-right: 0; */
    margin-left: auto;
    margin-right: auto;
    display: block;
}